.button {
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #794bc4;
    color: #262626;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    transition: background-color 0.2s;
    img {
        margin-right: 8px;
    }
    svg {
        margin-right: 12px;
        font-size: 20px;
    }
    &:not(:disabled):hover {
        background: #593791;
    }
    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}